<extend name="Public:base"/>
<block name="title"><title>微农后台管理系统-上架的商品</title></block>
<block name="css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/Css/GoodManage/good.css">
</block>
<block name="main">
	<div class="now-position">
		<span>上架的商品</span>
	</div>
	<div class="head-wrapper">
		<div class="head-search">
			<!-- 头部检索框 -->
			<form action=" " id="order_search">
				<div class="artical-search">
					<label for="cat1">商品分类</label>
					<select name="cat1" id="cat1">  
						<option value="0">--请选择--</option>
						<option value="1">帮助中心</option>
						<option value="2">商城资讯</option>
					</select>
					<label for="shopname">店铺名称</label>
					<input type="text" name="shopname" id="shopname" class="inputs" placeholder="输入商户名进行查询">
					<label for="goodname">商品名称</label>
					<input type="text" name="goodname" id="goodname" class="inputs" placeholder="输入商品名进行查询">
					<input type="button" value="查询"  class="btn btn-info" id="goods-search" />
				</div>
			</form>
			<!-- 头部检索框 -->  
		</div>
		<div class="action-nav">
			<a href="#">
				<span class=" glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
				批量下架
			</a>
		</div>
	</div>
	<div class="good-wrapper">
		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
					<th>
						<div class="checkbox">
							<label>
								<input type="checkbox" id="allchecked" autocomplete="off">全选
							</label>
						</div>
					</th>
					<th>商品的名称</th>
					<th>商品编号</th>
					<th>店铺价格</th>
					<th>所属店铺</th>
					<th>所属分类</th>
					<th>商品销量</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr class="data-item">
					<td>
						<div class="checkbox">
							<label>
								<input type="checkbox" class="item-check">
							</label>
						</div>
					</td>
					<td>
						<div class="good-info">
							<img src="#">
							<span>泰国红毛丹1kg 毛荔枝 进口新鲜水果</span>
						</div>
					</td>
					<td>148284435042136</td>
					<td>12.67</td>
					<td>红富士旗舰店3</td>
					<td>蔬菜水果</td>
					<td>22</td>
					<td>
					<a class="btn-link" href="#">查看</a>
					<a class="btn-link" href="#">下架</a>
					<a class="btn-link" href="#">删除</a>
					</td>
				</tr>
				<tr class="data-item">
					<td>
						<div class="checkbox">
							<label>
								<input type="checkbox" class="item-check">
							</label>
						</div>
					</td>
					<td>
						<div class="good-info">
							<img src="__PUBLIC__/Home/Image/sg1.jpg">
							<span>泰国红毛丹1kg 毛荔枝 进口新鲜水果</span>
						</div>
					</td>
					<td>148284435042136</td>
					<td>12.67</td>
					<td>红富士旗舰店3</td>
					<td>蔬菜水果->水果->苹果</td>
					<td>22</td>
					<td>
					<a class="btn-link" href="#">查看</a>
					<a class="btn-link" href="#">下架</a>
					<a class="btn-link" href="#">删除</a>
					</td>
				</tr>
				<tr class="data-item">
					<td>
						<div class="checkbox">
							<label>
								<input type="checkbox" class="item-check">
							</label>
						</div>
					</td>
					<td>
						<div class="good-info">
							<img src="#">
							<span>泰国红毛丹1kg 毛荔枝 进口新鲜水果</span>
						</div>
					</td>
					<td>148284435042136</td>
					<td>12.67</td>
					<td>红富士旗舰店3</td>
					<td>蔬菜水果</td>
					<td>22</td>
					<td>
					<a class="btn-link" href="#">查看</a>
					<a class="btn-link" href="#">下架</a>
					<a class="btn-link" href="#">删除</a>
					</td>
				</tr>
				<tr class="data-item">
					<td>
						<div class="checkbox">
							<label>
								<input type="checkbox" class="item-check">
							</label>
						</div>
					</td>
					<td>
						<div class="good-info">
							<img src="#">
							<span>泰国红毛丹1kg 毛荔枝 进口新鲜水果</span>
						</div>
					</td>
					<td>148284435042136</td>
					<td>12.67</td>
					<td>红富士旗舰店3</td>
					<td>蔬菜水果</td>
					<td>22</td>
					<td>
					<a class="btn-link" href="#">查看</a>
					<a class="btn-link" href="#">下架</a>
					<a class="btn-link" href="#">删除</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</block>