/*商品类别详细显示样式*/
.lists_wrapper{
	width: 1200px;
	margin: 0px auto;
	min-height: 600px;
}
/*头部标签开始*/
.lists_header{
	height: 45px;
	background: #eee;
	border-radius: 5px;
	margin-bottom: 15px;
}
.lists_header ul a{
	display: inline-block;
	width: 100px;
	line-height: 45px;
	text-align: center;
	position: relative;
}
.lists_header ul a:hover{
	/*background: #ccc;*/
	text-decoration: none;
}
/*导航标签选中样式*/
.nav-active{
	/*background: #FE0505;*/
	background: #D7D7D7;
	/*color: #fff;*/
	border-radius: 5px;
}
.lists_header ul a span{
	position: absolute;
	left: 71px;
	top: 18px;
	width: 16px;
	height: 16px;
}
.select-icon{
	background: url("../../Icon/arrow-down1.png") 0px 0px no-repeat;
	background-size: 10px 10px;
}
.select-icon-low
{
	background: url("../../Icon/arrow-down.png") 0px 0px no-repeat;
	background-size: 10px 10px;
}
.select-icon-up{
	background: url("../../Icon/arrow-up.png") 0px 0px no-repeat;
	background-size: 10px 10px;
}
.history_title{
	height: 40px;
	background: #eee;
	border-radius: 5px;
}
.history_show {
    margin-top: 15px;
}
.history_title span {
    line-height: 40px;
    width: 100px;
    display: block;
    font-weight: bold;
    text-align: center;
    background: red;
    color: #fff;
    border-radius: 5px;
}
