<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html">
	<block name="title">
		<title>微农后台管理系统</title>
	</block>
	<!-- 公共链接 -->
	<include file = "Public:common"/>
	<!-- 公共链接 -->
	<block name="css"></block>
	<block name="js"></block> 
</head>
<body>
	<block name="top">
		<div class="head">
			<div class="eshop-logo">
				<span>微农后台管理系统</span>
			</div>
			<div class="head_nav">
				<ul>
					<a href="{:U('Home/Index/index')}" target="_blank">
						<li class="line">商城首页</li>
					</a>
					<a href="">
						<li class="line">修改密码</li>
					</a>
					<a href="{:U('Admin/Index/loginout')}">
						<li>退出登录</li>
					</a>
				</ul>
			</div>
		</div>
	</block>
	<div class="content-wrapper">
		<div class="left-nav">
			<block name="leftMenu">
				<div class="lines"></div>
				<dl class="index">
					<dt><a href="{:U('Admin/Index/index')}" style="background:#3992d0;">系统首页</a></dt>
				</dl>
				<dl class="shop-manage">
					<dt>店铺管理<img src="__PUBLIC__/Admin/Icon/left/select_xl01.png"></dt>
					<a href="{:U('Admin/ShopManage/autho')}" target="_self"><dd>店铺认证</dd></a>
					<a href="{:U('Admin/ShopManage/apply')}" target="_self"><dd>开店申请</dd></a>
					<a href="#" target="_self"><dd>店铺管理</dd></a>
					<a href="#" target="_self"><dd>下架店铺</dd></a>
				</dl>
				<dl class="custom-manage">
					<dt>会员管理<img src="__PUBLIC__/Admin/Icon/left/select_xl01.png"></dt>
					<a href="#" target="_self"><dd>会员等级</dd></a>
					<a href="#" target="_self"><dd>会员管理</dd></a>
					<a href="#" target="_self"><dd>账号管理</dd></a>
				</dl>
				<dl class="good-manage">
					<dt>商品管理<img src="__PUBLIC__/Admin/Icon/left/select_xl01.png"></dt>
					<a href="{:U('Admin/GoodManage/onsale')}" target="_self"><dd>上架的商品</dd></a>
					<a href="{:U('Admin/GoodManage/autho')}" target="_self"><dd>待审核商品</dd></a>
					<a href="#" target="_self"><dd>违规商品</dd></a>
					<a href="#" target="_self"><dd>投诉的商品</dd></a>
				</dl>
				<dl class="order-manage">
					<dt>订单管理<img src="__PUBLIC__/Admin/Icon/left/select_xl01.png"></dt>
					<a href="#" target="_self"><dd>订单列表</dd></a>
					<a href="#" target="_self"><dd>投诉订单</dd></a>
					<a href="#" target="_self"><dd>退款订单</dd></a>
				</dl>
				<dl class="artical-manage">
					<dt>文章管理<img src="__PUBLIC__/Admin/Icon/left/select_xl01.png"></dt>
					<a href="{:U('Admin/ArticalManage/index')}" target="_self"><dd>商城资讯列表</dd></a>
					<a href="{:U('Admin/ArticalManage/helpList')}" target="_self"><dd>帮助中心列表</dd></a>
					<a href="{:U('Admin/ArticalManage/nav')}" target="_self"><dd>文章分类</dd></a>
					<a href="{:U('Admin/ArticalManage/info')}" target="_self"><dd>文章发表</dd></a>
				</dl>
				<dl class="syetem-manage">
					<dt>系统管理<img src="__PUBLIC__/Admin/Icon/left/select_xl01.png"></dt>
					<a href="#" target="_self"><dd>职员管理</dd></a>
					<a href="#" target="_self"><dd>角色管理</dd></a>
					<a href="#" target="_self"><dd>菜单管理</dd></a>
					<a href="#" target="_self"><dd>广告管理</dd></a>
					<a href="#" target="_self"><dd>导航管理</dd></a>
					<a href="{:U('Admin/SystemManage/backup')}" target="_self"><dd>数据备份</dd></a>
				</dl>
			</block>
			<div style="height:100px;">
			</div>
		</div>
		<div class="right-content">
			<block name="main">
			</block>
			<div style="height:100px;">
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
	//二级菜单对应显示下拉并选中效果
	$(function(){
		$('.left-nav').find('a').each(function(index, element){
			if($($(this))[0].href == String(window.location)){
				$(".left-nav dt img").attr("src","__PUBLIC__/Admin/Icon/left/select_xl01.png");
				$(this).parent().find('img').attr("src","__PUBLIC__/Admin/Icon/left/select_xl.png");
				$(".left-nav dd").hide();
				$(this).parent().find('dd').slideToggle();
				$(this).addClass('left-nav-active');
			}
		});
		$(".left-nav dt").click(function(){
				$(".left-nav dt").css({"background-color":"#3992d0"})
				$(this).css({"background-color": "#317eb4"});
				$(".left-nav dt img").attr("src","__PUBLIC__/Admin/Icon/left/select_xl01.png");
				$(this).parent().find('img').attr("src","__PUBLIC__/Admin/Icon/left/select_xl.png");
				$(".left-nav dd").hide();
				$(this).parent().find('dd').slideToggle();
			});
	});
</script>
</html>