<!-- 系统后台公共链接 -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Common/bootstrap3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/Css/Common/common.css">
<script src="__PUBLIC__/Common/Js/jquery-2.1.1.min.js"></script>
<script src="__PUBLIC__/Common/bootstrap3.3.7/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/Common/Js/jquery.validate.js"></script>
<script src="__PUBLIC__/Common/layer/layer.js"></script>
<script src="__PUBLIC__/Admin/Js/Common/common.js"></script>
<script src="__PUBLIC__/Admin/Js/Common/checkbox.js"></script>
