/*后台登录页面样式*/
body {
    background: url('../../Image/background.jpg') no-repeat ;
}
.login-box{
    width: 550px;
    height: 280px;
    margin: 0px auto;
    padding: 150px 200px;
}
.login-box h3{
    height: 60px;
    line-height: 60px;
    font-size: 26px;
    color: #00d2ff;
    text-align: center;
}
.login-box .items{
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.login-box .items label{
    display: inline-block;
    width: 100px;
    height: 50px;
    text-align: right;
    font-size: 16px;
    color: #fff;
}
.login-btn{
    width: 100px;
    height: 40px;
    background: #008aff;
    color: #fff;
    border : 1px solid #008aff;
    border-radius: 5px;
    margin: 10px 0px 0px 110px;
}
.login-btn:hover{
    background: blue;
}
#verify-img{
    width: 180px;
}
#verifyCode{
   width: 115px;
   height: 36px;
   vertical-align: middle;
}

