<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>商户中心-操作记录</title>
<include file = "Public:common"/>
<include file = "Good:commonnav" />
<script src="__PUBLIC__/Home/Js/common.js"></script>
<script src="__PUBLIC__/Home/Js/shoperLog.js"></script>
<script type="text/javascript">
  var delLogInfo = "{:U('delLog')}";
</script>
</head>
<body>
<include file = "Public:sheader"/>
<div class="position_now">
  <label><a href="index.html">首页</a></label>
  <span>&gt</span>
  <label>操作记录</label>
</div>
<div class="scenter_wrapper"> 
  <!-- 商户中心左侧导航开始 --> 
  <include file = "Public:scenternav"/> 
  <!-- 商户中心左侧导航结束 --> 

  <!-- 商户中心右侧内容显示开始 -->
  <div class="scenter_right">
    <div class="scenter_right_title"> <span>操作记录</span> </div>
    <div class="ucenter_right_content">
      <table class="scenter_table">
        <tbody>
        <empty name="loglist">
        <div class="nolog">还没有任何操作记录！！！</div>
        <else />
        <thead>
          <tr class="header">
            <th>序号</th>
            <th>当前IP</th>
            <th>当前地址</th>
            <th>操作内容</th>
            <th>操作时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <volist name="loglist" id="data">
          <tr class="logList">
            <td><span>{$i}</span></td>
            <td>{$data.ip}</td>
            <td>{$data.location}</td>
            <td>{$data.action}</td>
            <td>{$data.time|date="Y-m-d H:i:m",###}</td>
            <td><a href="javascript:delLog({$data.id});" >删除</a> <span>|</span> <a href="{:U('modifyPwd')}">修改密码</a></td>
          </tr>
        </volist>
          </empty>
          </tbody>
      </table>
      <!-- 分页开始 -->
      <div class="pages">{$page}</div>
      <!-- 分页结束 --> 
    </div>
  </div>
  <!-- 商户中心右侧内容显示结束 --> 
</div>
<include file= "Public:footer" />
</body>
</html>