<!-- 商户操作记录Ajax分页 -->
<table class="scenter_table">
  <tbody>
    <empty name="loglist">
      <div class="nolog">还没有任何操作记录！！！</div>
      <else />
      <thead>
        <tr class="header">
          <th>序号</th>
          <th>当前IP</th>
          <th>当前地址</th>
          <th>操作内容</th>
          <th>操作时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <volist name="loglist" id="data">
        <tr class="logList">
          <td><span>{$i}</span></td>
          <td>{$data.ip}</td>
          <td>{$data.location}</td>
          <td>{$data.action}</td>
          <td>{$data.time|date="Y-m-d H:i:m",###}</td>
          <td><a href="javascript:delLog({$data.id});">删除</a> <span>|</span> <a href="{:U('modifyPwd')}">修改密码</a></td>
        </tr>
      </volist>
    </empty>
  </tbody>
</table>
<!-- 分页开始 -->
<div class="pages">{$page}</div>
<!-- 分页结束 --> 