<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>新增商品</title>
<include file = "Public:common"/>
<include file = "Good:commonnav" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Common/webuploader/webuploader.css">
<script src="__PUBLIC__/Common/ueditor/ueditor.config.js"></script>
<script src="__PUBLIC__/Common/ueditor/ueditor.all.min.js"></script>
<script src="__PUBLIC__/Common/ueditor/lang/zh-cn/zh-cn.js"></script>
<script src="__PUBLIC__/Common/webuploader/webuploader.min.js"></script>
<script src="__PUBLIC__/Home/Js/goodAdd.js"></script>
<script type="text/javascript">
  var getCart = "{:U('getWebCart')}";
  var goodsSave = "{:U('goodsSave')}";
  var auditIndex = "{:U('Home/Good/audit')}";
  var goodImg = "{:U('goodImg')}";
  var goodLogo = "{:U('goodLogo')}";
  var delImgItem = "{:U('goodImgDel')}";
  var sid = '{:session_id()}';
  var root = "__ROOT__/";
</script>
</head>
<body>
<include file = "Public:sheader"/>
<div class="position_now">
  <label><a href="index.html">首页</a></label>
  <span>&gt</span>
  <label>商品分类</label>
</div>
<div class="scenter_wrapper"> 
  <!-- 商户中心左侧导航开始 --> 
  <include file = "Public:scenternav"/> 
  <!-- 商户中心左侧导航结束 --> 
  <!-- 商户中心右侧内容显示开始 -->
  <div class="scenter_right">
    <div class="scenter_right_title">
      <ul class="good_nav">
        <a href="javascript:;" class="active" rel="nav1">商品信息 </a> <a href="javascript:;" rel="nav2">商品属性</a> <a href="javascript:;" rel="nav3">商品图册</a>
      </ul>
    </div>
    <form id="goodInfo" autocomplete="off">
      <!-- 商品信息 -->
      <div class="scenter_right_content" id="nav1" >
        <table class="goodAdd_table">
          <tbody>
            <tr>
              <td class="saccount">商家账号：</td>
              <td><div class="sNick">{$Think.session.uname}</div></td>
            </tr>
            <tr>
              <td class="itemsName"><span class="icon">*</span>商品名称：</td>
              <td><input type="text" class="inputs" name="goodsName"/></td>
              <td rowspan="6" valign="top">
                <div id="preview" class="good_photo">
                  <img id="imghead" border="0" src="__PUBLIC__/Home/Icon/good_default.png">
                </div>
                <div class="good_photo">
                  <input type="button" name="good_logoUploader" value="上传商品Logo" onclick="$('#previewImg').click();"/> 
                  <input type="file" name= "photo" onchange="previewImage(this)" style="display: none;" id="previewImg" accept="image/*">
                </div>
              </td>
            </tr>
            <tr>
              <td class="itemsName"><span class="icon">*</span>商品编号：</td>
              <td><input type="text" class="inputs" name="goodsSn" value="{$goodNum}"readonly="readonly"/></td>
            </tr>
            <tr>
              <td class="itemsName"><span class="icon">*</span>市场价格：</td>
              <td><input type="text" class="inputs" name="marketPrice" value="0.00"/></td>
            </tr>
            <tr>
              <td class="itemsName"><span class="icon">*</span>店铺价格：</td>
              <td><input type="text" class="inputs" name="shopPrice" value="0.00"/></td>
            </tr>
            <tr>
              <td class="itemsName"><span class="icon">*</span>商品库存：</td>
              <td><input type="text" class="inputs" name="stock" value="0" id="stock"/></td>
            </tr>
            <tr>
              <td class="itemsName">预警库存：</td>
              <td><input type="text" class="inputs" name="warnStock" value="0"/></td>
            </tr>
            <tr>
              <td class="itemsName"><span class="icon">*</span>商品产地：</td>
              <td><input type="text" class="inputs" name="place"/></td>
            </tr>
            <tr>
              <td class="itemsName"><span class="icon">*</span>商品状态：</td>
              <td class="attrSelect"><input type="radio"  name="status" value="1" checked="checked"/>
                <span>上架</span>
                <input type="radio"  name="goodStatus" value="0"/>
                <span>下架</span></td>
            </tr>
            <tr>
              <td class="itemsName">商品属性：</td>
              <td class="attrSelect"><input type="checkbox"  name="recomend" value="1" />
                <span>推荐</span>
                <input type="checkbox"  name="hot" value="1"/>
                <span>热销</span>
                <input type="checkbox"  name="newgood" value="1"/>
                <span>新品</span></td>
            </tr>
            <tr>
              <td class="itemsName"><span class="icon">*</span>商城分类：</td>
              <td class="attrSelect" width="500px"><select name="wfirst" id="wfirst" onchange="getNextCart('wSecond',this,0)">
                  <option value="0">--请选择--</option>
                  <volist name="list" id="data">
                    <option value="{$data.id}">{$data.name}</option>
                  </volist>
                </select>
                <select name="wSecond" id="wSecond" onchange="getNextCart('wThird',this,1)">
                  <option value="">--请选择--</option>
                </select>
                <select name="wThird" id="wThird">
                  <option value="">--请选择--</option>
                </select></td>
            </tr>
            <tr>
              <td class="itemsName"><span class="icon">*</span>店铺分类：</td>
              <td class="attrSelect"><select name="sfirst" onchange="getShopCart(this)" action="{:U('getShopCart')}" id="sfirst">
                  <option value="0">--请选择--</option>
                  <volist name="list1" id = "item">
                    <option value="{$item.id}">{$item.name}</option>
                  </volist>
                </select>
                <select name="sSecond" id="sSecond">
                  <option value="">--请选择--</option>
                </select></td>
            </tr>
            <tr>
              <td class="itemsName">商品服务：</td>
              <td colspan="2">
                <textarea id="good_service" name="service_content"
                style="width: 720px; height: 250px;">
              </textarea>
              <!--  显示 ueditor编辑器 --> 
              <script type="text/javascript">
              var ue = UE.getEditor('good_service');
              </script>
            </td>
            </tr>
          </tbody>
        </table>
        <input type="submit" value="添加" class="btn" style="margin-left:150px"/>
        <input type="reset" value="重置" class="btn"/>
      </div>
      <!-- 商品信息 --> 
      <!-- 商品属性 -->
      <div class="scenter_right_content" id="nav2" style="display:none" >
        <table class="goodAdd_table">
          <tbody>
            <tr>
              <td class="saccount">商家账号：</td>
              <td><div class="sNick">{$Think.session.uname} </div></td>
            </tr>
            <tr>
              <td class="itemsName1"><span class="icon">*</span>{$Goodlable[0]['name']}：</td>
              <td><input type="text" class="inputs" name="pro[{$Goodlable[0]['lableid']}]"/></td>
            </tr>
            <tr>
              <td class="itemsName1">{$Goodlable[1]['name']}：</td>
              <td><input type="text" class="inputs" name="pro[{$Goodlable[1]['lableid']}]"/></td>
            </tr>
            <tr>
              <td class="itemsName1">{$Goodlable[2]['name']}：</td>
              <td><input type="text" class="inputs" name="pro[{$Goodlable[2]['lableid']}]" /></td>
            </tr>
            <tr>
              <td class="itemsName1"><span class="icon">*</span>{$Goodlable[3]['name']}：</td>
              <td>
                <input class="Wdate inputs" type="text" onClick="WdatePicker()" name="pro[{$Goodlable[3]['lableid']}]">
              </td>
            </tr>
            <tr>
              <td class="itemsName1"><span class="icon">*</span>{$Goodlable[4]['name']}：</td>
              <td><input type="text" class="inputs" name="pro[{$Goodlable[4]['lableid']}]" /></td>
            </tr>
            <tr>
              <td class="itemsName1">{$Goodlable[5]['name']}：</td>
              <td><input type="text" class="inputs" name="pro[{$Goodlable[5]['lableid']}]" /></td>
            </tr>
            <tr>
              <td class="itemsName1">{$Goodlable[6]['name']}：</td>
              <td class="attrSelect"><input type="radio"  name="pro[{$Goodlable[6]['lableid']}]" value="1" checked="checked"/>
                <span>是</span>
                <input type="radio"  name="pro[{$Goodlable[6]['lableid']}]" value="0"/>
                <span>否</span></td>
            </tr>
            <tr>
              <td class="itemsName1">{$Goodlable[7]['name']}：</td>
              <td class="attrSelect"><input type="radio"  name="pro[{$Goodlable[7]['lableid']}]" value="1" checked="checked"/>
                <span>是</span>
                <input type="radio"  name="pro[{$Goodlable[7]['lableid']}]" value="0"/>
                <span>否</span></td>
            </tr>
            <tr>
              <td class="itemsName1">{$Goodlable[8]['name']}：</td>
              <td><input type="text" class="inputs" name="pro[{$Goodlable[8]['lableid']}]" /></td>
            </tr>
          </tbody>
        </table>
        <input type="submit" value="添加" class="btn" style="margin-left:150px"/>
        <input type="reset" value="重置" class="btn"/>
      </div>
      <!-- 商品属性 --> 
      <!-- 商品图册 -->
      <div class="scenter_right_content" id="nav3" style="display:none" > 
        <div class="uploader-list-container">
          <div class="queueList">
            <div id="dndArea" class="placeholder">
              <div id="filePicker-2"></div>
              <p>或将照片拖到这里，单次最多可选10张，每张图片的大小不要超过5M（图片格式包含jpe,jpeg,phg,gif）</p>
            </div>
          </div>
          <div class="statusBar" style="display:none;">
            <div class="progress"> <span class="text">0%</span> <span class="percentage"></span> </div>
            <div class="info"></div>
            <div class="btns">
              <div id="filePicker2"></div>
              <div class="uploadBtn">开始上传</div>
            </div>
          </div>
        </div>
        <div style="margin:0 auto;text-align:center;s">
          <input type="submit" value="添加" class="btn"/>
          <input type="reset" value="重置" class="btn"/>
        </div>
      </div>
      <!-- 商品图册 -->
    </form>
  </div>
  <!-- 商户中心右侧内容显示结束 --> 
</div>
<include file= "Public:footer" />
</body>
</html>