<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>用户中心-订单投诉</title>
<include file = "Public:common"/>
<include file='Public:ucenterlink'/>
<script src="__PUBLIC__/Home/Js/Order/complain.js"></script>
<script type="text/javascript">
  var complainSubmit = "{:U('complainDo')}";
  var orderWaitReceive = "{:U('waitReceive')}";
</script>
</head>
<body>
<include file = "Public:header"/>
<div class="position_now">
  <label><a href="{:U('Home/Index/index')}" target="_blankx">首页</a></label>
  <span>&gt</span>
  <label>订单投诉</label>
</div>
<div class="ucenter_wrapper"> 
  <!-- 交易管理左侧导航开始 --> 
  <include file = "Public:ucenternav"/> 
  <!-- 交易管理左侧导航结束 --> 
  <!-- 交易管理右侧内容显示开始 -->
  <div class="ucenter_right">
    <div class="ucenter_right_title"> <span>订单投诉</span> 
    </div>
    <div class="ucenter_right_content"> 
    	<div class="complain-wrapper">
    		<div class="complain-wrapper-left">
    			<div class="order-img">
            <h3>商品图片</h3>
            <a href="{:U('Home/Index/goodsInfo',array('id'=>$orderInfo['goodid']))}" target="_blank"><img src="{$orderInfo.goodimg}"style="width:120px;height:120px;"></a>
          </div>
          <div class="order-infos">
            <h3>订单基本信息</h3>
            <span>订单号：{$orderInfo.ordernum}</span>
            <span>订单金额：{$orderInfo.totalmoney}</span>
            <span>商家：{$orderInfo.name}</span>
            <span>下单时间：{$orderInfo.create_time|date='Y-m-d H:i:s',###}</span>
            <span>发货时间：{$orderInfo.delivertime|date='Y-m-d H:i:s',###}</span>
          </div>
    		</div>
    		<div class="complain-wrapper-right">
          <h3>投诉信息</h3>
    			<form action="#" method="post">
            <div class="complain-reason-type">
              <span>投诉类型：
                <label>
                  <input name="complainReason" type="radio" value="1" checked="checked"/>卖家存在欺诈行为  
                </label> 
                <label>
                  <input name="complainReason" type="radio" value="2" /> 未按约定时间发货  
                </label> 
                <label>
                  <input name="complainReason" type="radio" value="3" /> 未按成交价格进行交易  
                </label> 
                <label>
                  <input name="complainReason" type="radio" value="4" />虚假销售 
                </label> 
                <label>
                  <input name="complainReason" type="radio" value="5" />其它 
                </label> 
              </span>
            </div>
    				<div class="appraise-content">
              <textarea id="contents"class="inputs" placeholder="投诉内容为必填项，且投诉内容不少于6字符,小于150字符！" autocomplete="off"></textarea>
    				</div>
    				<div>
    					<input id="complainSubmit" type="button" value="提交" class="btn" style="margin:30px 3px;"/>
              <input type="hidden" name="orderId" value="{$orderInfo.orderid}" id="orderId"/>
              <input type="hidden" name="shopId" value="{$orderInfo.shopid}" id="shopId"/>
    					<span style="color:red;">（暂不支持上传附件，后期我们会完善的，敬请期待！！！）</span>
    				</div>
    			</form>
    		</div>
    	</div>
    </div>
  </div>
  <!-- 交易管理右侧内容显示结束 --> 
</div>
<include file= "Public:footer" />
</body>
</html>