<!-- 订单ajax分页部分 -->
<table class="orders_table">
  <thead>
    <th width="53%">订单详情</th>
    <th width="10%">支付方式</th>
    <th width="10%">配送方式</th>
    <th width="16%">总金额</th>
    <th width="11%">操作</th>
  </thead>
  <empty name="lists">
    <tbody>
      <tr style="line-height:36px;text-align:center; color:red;"><td colspan="6">暂没有相关订单！！！</td></tr>
    </tbody>
    <else/>
    <volist name="lists" id="item">
      <tbody class="orders_items">
        <tr class="orders_head">
          <td colspan="6">
            <div class="order_time">
              <span>订单编号：{$item.ordernum}</span>&nbsp;&nbsp;&nbsp;&nbsp;
              <span>
               <switch name="pageType">
                <case value="delivered">
                  发货时间：{$item.delivertime|date="Y-m-d  H：i：s",###}
                </case>
                <case value="finished">
                  收货时间：{$item.confirmtime|date="Y-m-d  H：i：s",###}
                </case>
                <case value="cancle">
                  取消时间：{$item.canceltime|date="Y-m-d  H：i：s",###}
                </case>
                <case value="refund">
                  拒收时间：{$item.rejecttime|date="Y-m-d  H：i：s",###}
                </case>
                <default />
                下单时间：{$item.create_time|date="Y-m-d  H：i：s",###}
              </switch>
              </span>&nbsp;&nbsp;&nbsp;&nbsp;
              <span>{$item.name}</span>&nbsp;&nbsp;
              <span class="shop-qq"><a href="tencent://message/?uin={$item.service_qq}&Site=qq&Menu=yes"><img src="__PUBLIC__/Home/ShopImage/qq.gif" style="width:65px;height:24px;"></a></span>
            </div>
            <div class="order_status">
              <switch name="pageType">
                <case value="waitDelivery">等待发货</case>
                <case value="delivered">待收货</case>
                <case value="finished">已收货</case>
                <case value="cancle">已取消</case>
                <case value="refund">已拒收</case>
                <default />等待支付
              </switch>
            </div>
          </td>
        </tr>
        <tr class="orders_info">
          <td class="line" style="padding:0px 5px;">
            <div class="good_img">
              <a href="{:U('Home/Index/goodsInfo',array('id'=>$item['goodid']))}" target="_blank">
                <img src="{$item.goodimg}">
              </a>
            </div>
            <div class="good_detail">
              <span>
                {$item.goodname}
              </span>
            </div>
            <div class="good_num">
              <span>&yen;{$item.goodprice}&times;{$item.goodnum}</span>
            </div>
          </td>
          <td class="line">
            <if condition="$item.paytype eq 1">
              <span>支付宝</span>
              <elseif condition ="$item.paytype eq 2"/>
              <span>微信</span>
              <elseif condition ="$item.paytype eq 3"/>
              <span>银联</span>
              <else/>
              <span>其它支付方式</span>
            </if>
          </td>
          <td class="line"><span>京东配送</span></td>
          <td class="line">
            <div class="money_item">
              商品金额：&yen;{$item.goodsmoney}
            </div>
            <div class="money_item">运费：&yen;{$item.delivermoney}</div>
            <div class="money_item">实付金额：<span style="color:red;">&yen;{$item.totalmoney}</span></div>
          </td>
          <td class="orders_action">
           <switch name="pageType">
            <case value="waitDelivery">
             <a href="javascript:orderCancle({$item.orderid})">取消</a>
             <a href="{:U('Home/UserOrders/orderDetail',array('orderId' => $item['orderid']))}">订单详情</a>
            </case>
            <case value="delivered">
              <a href="javascript:toReceive({$item.orderid});">确认收货</a>
              <a href="javascript:orderReject({$item.orderid})">拒绝收货</a>
              <a href="{:U('Home/UserOrders/orderDetail',array('orderId' => $item['orderid']))}">订单详情</a>
              <a href="{:U('Home/UserOrders/complaintDetail',array('orderId' =>$item['orderid'],'goodId'=> $item['goodid']))}">订单投诉</a>
            </case>
            <case value="finished">
             <a href="{:U('orderAppraise',array('orderId' =>$item['orderid'],'goodId'=> $item['goodid']))}">订单评价</a>
             <a href="{:U('Home/UserOrders/orderDetail',array('orderId' => $item['orderid']))}">订单详情</a>
             <a href="javascript:orderDel({$item.orderid})">订单删除</a>
            </case>
            <case value="cancle">
              <a href="javascript:orderDel({$item.orderid})">删除</a>
             <a href="{:U('Home/UserOrders/orderDetail',array('orderId' => $item['orderid']))}">订单详情</a>
            </case>
            <case value="refund">
             <a href="{:U('Home/UserOrders/orderDetail',array('orderId' => $item['orderid']))}">订单详情</a>
             <a href="{:U('Home/UserOrders/complaintDetail',array('orderId' =>$item['orderid'],'goodId'=> $item['goodid']))}">订单投诉</a>
            </case>
            <default />
            <a href="javascript:orderCancle({$item.orderid})">取消</a>
            <a href="javascript:toPay({$item.orderid})">支付</a>
            <a href="{:U('Home/UserOrders/orderDetail',array('orderId' => $item['orderid']))}">订单详情</a>
          </switch>  
          </td>
        </tr>
      </tbody>
    </volist>
  </empty>
</table>
<!-- 分页开始 -->
<div class="pages">{$page}</div>
<!-- 分页结束 --> 