<!doctype html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <title>商家注册协议</title>
  <style type="text/css">
* {
	margin: 0px;
	padding: 0px;
	font-family: "微软雅黑";
}
.protocolWrapper {
	width: 800px;
	margin: 0 auto;
	background: #fcfcfc;
	padding: 15px;
}
h4 {
	line-height: 32px;
	color: #f60;
}
p {
	line-height: 28px;
	font-size: 14px;
	text-indent: 2em;
}
p span {
	font-weight: bold;
	padding-right: 10px;
}
</style>
  </head>
  <body>
  <div class="protocolWrapper">
    <h4>eshop商家注册协议</h4>
    <p>本协议适用于所有注册eshp商城的商家用户，必须严格遵守并执行相关条款决定。</p>
    <h5>第一条：</h5>
    <p><span>1.1</span>本协议适用于所有注册eshp商城的商家用户，必须严格遵守并执行相关条款决定。</p>
    <p><span>1.2</span>本协议适用于所有注册eshp商城的商家用户，必须严格遵守并执行相关条款决定。</p>
    <h5>第二条：</h5>
    <p><span>2.1</span>本协议适用于所有注册eshp商城的商家用户，必须严格遵守并执行相关条款决定。</p>
    <p><span>2.2</span>本协议适用于所有注册eshp商城的商家用户，必须严格遵守并执行相关条款决定。</p>
    <h5>第三条：</h5>
    <p><span>3.1</span>本协议适用于所有注册eshp商城的商家用户，必须严格遵守并执行相关条款决定。</p>
    <p><span>3.2</span>本协议适用于所有注册eshp商城的商家用户，必须严格遵守并执行相关条款决定。</p>
    <h5>版权声明</h5>
    <p><span>1.</span>凡是注册成功商家都必须遵守以上相关声明和决议，最终解释权归eshop商城。</p>
    <p><span>2.</span>凡是注册成功商家都必须遵守以上相关声明和决议，最终解释权归eshop商城。</p>
    <p><span>3.</span>凡是注册成功商家都必须遵守以上相关声明和决议，最终解释权归eshop商城。</p>
  </div>
</body>
</html>