<!-- 用户和商家页面公共脚本引用链接 -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/Css/Common/common.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/Css/Common/order.css">
<script src="__PUBLIC__/Common/Js/jquery-2.1.1.min.js"></script>
<script src="__PUBLIC__/Common/Js/jquery.validate.js"></script>
<script src="__PUBLIC__/Common/layer/layer.js"></script>
<script src="__PUBLIC__/Common/Js/common.js"></script>
<script src="__PUBLIC__/Common/My97DatePicker/WdatePicker.js"></script>
<!-- 购物车脚本 -->
<script src="__PUBLIC__/Home/Js/Cart/goodCart.js"></script>
<script type="text/javascript">
	var collections = "{:U('Home/Collection/collection')}";
	var cancles = "{:U('Home/Collection/cancle')}";
	var indexs = "{:U('Home/User/login')}"; 
	var addCart = "{:U('Home/ShoppingCart/add')}";
	var delCart = "{:U('Home/ShoppingCart/del')}";
</script>