<!-- 商品分类Ajax分页显示 -->
<div class="right_category_product">
 <empty name="goods">
  <div style="color:red; text-align:center;">暂没有商品！！！</div>
  <else/>
  <div class="shop_category_show">
    <ul class="p_list">
      <volist name="goods" id="item">
        <li>
          <div class="list-wrap">
            <div class="p_pics">
              <a href="{:U('Home/Index/info',array('id'=>$item['goodid']))}" class="eshop_img"><img src="__ROOT__/{$item.good_log}"/>
              </a>
            </div>
            <div class="p_sales">
              <div class="p_price"> 
                <strong><em style="color:red;">￥</em><i style="color:red;">{$item.shopprice}</i></strong>
              </div>
              <div class="p_amounts"> 
               <strong>销量：<span>{$item.count}</span></strong>
             </div>
           </div>
           <div class="p_name"> 
            <a href="{:U('Home/Index/goodsInfo',array('id'=>$item['goodid']))}" target="_blank">树懒果园 {$item.name} 
            </a> 
          </div>
          <div class="p_shop_info">
            <div class="p_shop_name">
              <span><a href="{:U('Home/Shop/index',array('shopId'=> $shopInfo['id']))}" target="_blank">{$shopInfo.name}</a></span>
            </div>
            <div class="p_good_place">
              <span style="color:#868686;">{$item.place}</span>
            </div>
          </div>
          <div class="p_operate">
            <if condition="checkCollection($item['id'],0) eq 1">
              <a href="javascript:void(0)" onclick="cancle({$item.id},0,{$Think.session.uid})">
                <img src="__PUBLIC__/Home/Icon/good-collection-do.png">
                &nbsp;取消收藏
              </a>
              <else/>
              <a href="javascript:void(0)" onclick="Collection({$item.id},0)">
                <img src="__PUBLIC__/Home/Icon/good-collection.png">
                &nbsp;收藏
              </a>
            </if>
            <a href="javascript:void(0);" style="float:right;" onclick="addCarts({$item.id},1)"> 
              <img src="__PUBLIC__/Home/Icon/add-cart.png">
              &nbsp;加入购物车
            </a>
          </div>
        </div>
      </li>
    </volist>
  </ul>
</div>
</empty>
</div><!-- 对应类别商品循环展示 -->
<!-- 分页开始 -->
<div class="pages" style="clear:both;">{$page}</div>