<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>编辑收货地址</title>
<include file = "Public:common"/>
<include file='Public:ucenterlink'/>
<script src="__PUBLIC__/Home/Js/User/addrManage.js"></script>
<script src="__PUBLIC__/Common/Distpicker/js/distpicker.data.js"></script>
<script src="__PUBLIC__/Common/Distpicker/js/distpicker.js"></script>
<script src="__PUBLIC__/Common/Distpicker/js/main.js"></script>
</head>
<body>
<div class="add_address">
  <form action="" method="post" id="modifyAddress" value="{:U('doEditAddrShow')}">
    <div class="items">
      <label><span>*</span>收货人姓名：</label>
      <input type="text" name="username" value="{$data.username}">
    </div>
    <div class="items">
      <div data-toggle="distpicker" class="items">
        <label><span>*</span>所在地区：</label>
        <select id="province1" name="province1" data-province="{$array[0]}">
        </select>
        <select id="city1" name="city1" data-city="{$array[1]}">
        </select>
        <select id="district1" name="district1" data-district="{$array[2]}">
        </select>
      </div>
    </div>
    <div class="items" style="height:52px;">
      <label><span>*</span>所在街道：</label>
      <input type="textarea" name="street" style="width:300px;height:25px;" value="{$data.streetinfo}">
      <div class="info">（请填写您的详细地址，不需要重复填写省、市、地区）</div>
    </div>
    <div class="items">
      <label><span>*</span>邮政编码：</label>
      <input type="text" name="postcode" value="{$data.postcode}">
    </div>
    <div class="items">
      <label><span>*</span>联系方式：</label>
      <input type="tel" name="usertel" value="{$data.tel}">
    </div>
    <div class="default_addr">
      <label>默认地址：</label>
      <input type="radio" name="address" value="1" 
      <if condition="$data.is_first eq 1 ">checked="checked"</if>
      />是 <input type="radio" name="address" value="0"  
      <if condition="$data.is_first eq 0 ">checked="checked"</if>
      />否 </div>
    <input type="hidden" value="{$data.id}" name="id" />
    <input type="submit" value="修改" value="0" class="add" />
  </form>
</div>
<!-- 新增收货地址表单结束 -->
</body>
</html>