<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>修改密码</title>
<!-- 公共链接 -->
<include file = "Public:common"/>
<include file='Public:ucenterlink'/>
<!-- 公共链接 -->
<script src="__PUBLIC__\Home\Js\User\modifyPwd.js"></script>
</head>
<body>
<!-- header开始 --> 
<include file ='Public:header' /> 
<!-- header结束 --> 
<!-- 当前位置开始 -->
<div class="position_now">
  <label><a href="{:U('Home/Index/index')}">首页</a></label>
  <span>&gt</span>
  <label>修改密码</label>
</div>
<!-- 当前位置显示结束 --> 
<!-- 主体内容开始 -->
<div class="ucenter_wrapper"> 
  <!-- 左边导航标签开始 --> 
  <include file='Public:ucenternav'/> 
  <!-- 左边导航标签结束 -->
  <div class="ucenter_right">
    <div class="ucenter_right_title"> <span>修改密码</span> </div>
    <div class="ucenter_right_content">
      <form action="" method="post" id="umodifypwd_form">
        <table class="umodifypwd_table">
          <tbody>
            <tr>
              <td class="title">登录账号：</td>
              <td><div class="uaccount">{$Think.session.uname}</div></td>
            </tr>
            <tr>
              <td class="title">新密码：</td>
              <td class="content"><input type="password" name="unewpwd" id="unewpwd" value="" class="inputs" placeholder="请输入您的新密码"/></td>
            </tr>
            <tr>
              <td class="title">确认密码：</td>
              <td class="content"><input type="password" name="unewpwd1" id="unewpwd1" value="" class="inputs" placeholder="再次确认您的密码"/></td>
            </tr>
            <tr>
              <td colspan="2"><input type="submit" name="btn" value="修改" class="btn"/></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
  <!-- 用户中心右侧内容显示结束 --> 
</div>
<!-- 主体内容结束 --> 
<include file='Public:footer'/>
</body>
</html>